<!DOCTYPE html>
<html>
<head>
    <title> Django Form Tutorial</title>
</head>
<body>
<center>
     <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'subscribe' %}">subscribe</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'registration form' %}">Registration</a></li>
          <li><a class="navbar-link" href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>
    </center>
    <pre><center>
        <h1>Registration Form</h1>
        <h3> Django Tutorials</h3>
        <h2>{{ html }}</h2>
        <form action = '' method="post">
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="register">
    </form>
    </center></pre>
</body>
</html>